@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  /* Layout breakpoints */

  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* Primary colors */

  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsla(168, 44%, 70%, 1);

  /* Neutral colors */

  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typography */

  --fontBase: 18px;
  --fontLarge: 32px;
  --fontExtraLarge: 40px;
  --fontExtraLarge2: 56px;

  /* Font */

  --fontBarlow: "Barlow", sans-serif;
  --fontFraunces: "Fraunces", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.show-mobile {
  display: block;
}

.hide-mobile {
  display: none;
}

.header {
  background: url("/images/mobile/image-header.jpg");
  position: relative;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__title {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  color: var(--white);
  text-align: center;
  font-family: var(--fontFraunces);
  font-size: var(--fontExtraLarge2);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  width: 85%;
  margin: 0 auto;
}

.nav__logo {
  width: 170px;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:nth-of-type(4) {
  color: #24303e;
  font-family: var(--fontFraunces) 9pt Soft;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
  border-radius: 28px;
  background: var(--white);
  padding: 16px 30px 15px 32px;
}

.nav__item:nth-of-type(4):hover::after {
  opacity: 0.25;
  color: var(--white);
}

.section__title {
  color: var(--veryDarkDesaturatedBlue);
  font-family: var(--fontFraunces);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}

.section__copy {
  color: var(--darkGrayishBlue);
}

.nav__item {
  color: var(--white);
  font-family: var(--fontBarlow);
  font-size: var(--fontBase);
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}

.section {
  display: flex;
  flex-direction: column-reverse;
}

.section-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.section-graphic {
  display: flex;
  flex-direction: column;
}

.section-graphic__content--left .section-graphic__title {
  color: var(--darkDesaturatedCyan);
  text-align: center;
  font-family: var(--fontFraunces) 9pt;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
}

.section-graphic__content--left .section-graphic__copy {
  color: #3e7467;
  text-align: center;
  font-family: var(--fontBarlow);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
  max-width: 339px;
  padding-top: 27px;
}

.section-graphic__content--right .section-graphic__title {
  color: #052c3b;
  text-align: center;
  font-family: var(--fontFraunces) 9pt;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
  opacity: 0.75;
}

.section-graphic__content--right .section-graphic__copy {
  color: #19536c;
  text-align: center;
  font-family: var(--fontBarlow);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  letter-spacing: -0.114px;
  max-width: 339px;
  padding-top: 27px;
}

.section-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-testimonial__header {
  padding-top: 160px;
  color: #a7aaad;
  text-align: center;
  font-family: Fraunces 9pt Soft;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  padding-bottom: 100px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 30px;
}

.testimonials-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.testimonials-item .testimonials-item__image {
  width: 72px;
  height: 72px;
  border-radius: 9999px;
  margin-bottom: 58px;
}

.testimonials-item .testimonials-item__text {
  max-width: 350px;
  color: #5b636d;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
}

.testimonials-item .testimonials-item__author {
  color: #24303e;
  text-align: center;
  font-family: Fraunces 9pt Soft;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.129px;
  margin-top: 69px;
}

.testimonials-item .testimonials-item__author > span {
  color: #a7aaad;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 178.571% */
  letter-spacing: -0.1px;
}

.section-gallery {
  display: flex;
  flex-direction: column;
  height: auto;
}

.footer {
  background: var(--darkModerateCyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer > svg {
  margin-top: 72px;
  margin-bottom: 40px;
}

.footer .footer-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 57px;
  margin-bottom: 88px;
}

.footer .footer-nav .footer-nav__item {
  color: #458d7e;
  font-family: var(--fontBarlow);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
  transition: 0.3s ease-in;
}

.footer .footer-nav .footer-nav__item:hover {
  cursor: pointer;
  color: var(--white);
}

.footer .footer-socials {
  display: flex;
  margin-bottom: 72px;
  flex-direction: row;
  column-gap: 35px;
}

.footer .footer-socials > svg {
  transition: 0.3s ease-in;
}

.footer .footer-socials > svg:hover {
  cursor: pointer;
}

.footer .footer-socials > svg:hover > path {
  fill: #fff;
}

@media screen and (min-width: 1440px) {
  .hide-mobile {
    display: block;
  }

  .show-mobile {
    display: none;
  }

  .header {
    background: url("/images/desktop/image-header.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    width: 1352px;
    margin: 0 auto;
  }

  .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 47px;
  }

  .section {
    flex-direction: row;
  }

  .section-reverse {
    flex-direction: row-reverse;
  }

  .section__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__text .section__title {
    width: 445px;
    margin-bottom: 32px;
  }

  .section__text .section__copy {
    width: 445px;
    margin-bottom: 40px;
  }

  .section .section__img {
    background: url("/images/desktop/image-transform.jpg");
    width: 50%;
    height: 500px;
    object-fit: fill;
    background-position: center;
  }

  .section-reverse .section__img {
    background: url("/images/desktop/image-stand-out.jpg");
    width: 50%;
    height: 500px;
    object-fit: fill;
    background-position: center;
  }

  .section-graphic {
    flex-direction: row;
  }

  .section-graphic__content--left {
    background: url("/images/desktop/image-graphic-design.jpg");
    width: 50%;
    height: 600px;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 59px;
    background-position-x: center;
  }

  .section-graphic__content--right {
    background: url("/images/desktop/image-photography.jpg");
    width: 50%;
    height: 600px;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 59px;
    background-position-x: center;
  }

  .testimonials-container {
    flex-direction: row;
    width: 90%;
    margin-bottom: 160px;
  }

  .section-gallery {
    width: 100%;
    height: 522px;
    flex-direction: row;
  }
}
