@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  /* Layout breakpoints */

  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* Primary colors */

  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);

  /* Neutral colors */

  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typography */

  --fontBase: 18px;
  --fontLarge: 32px;
  --fontExtraLarge: 40px;
  --fontExtraLarge2: 56px;

  /* Font */

  --fontBarlow: "Barlow", sans-serif;
  --fontFraunces: "Fraunces", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.show-mobile {
  display: block;
}

.hide-mobile {
  display: none;
}

.header {
  background: url("/images/mobile/image-header.jpg");
  position: relative;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__title {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  color: var(--white);
  text-align: center;
  font-family: var(--fontFraunces);
  font-size: var(--fontExtraLarge2);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  width: 85%;
  margin: 0 auto;
}

.nav__logo {
  width: 170px;
}

@media screen and (min-width: 1440px) {
  .hide-mobile {
    display: block;
  }

  .show-mobile {
    display: none;
  }

  .header {
    background: url("/images/desktop/image-header.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    width: 1352px;
    margin: 0 auto;
  }

  .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 47px;
  }
}

.section-title {
  color: var(--veryDarkDesaturatedBlue);
  font-family: var(--fontFraunces);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}

.section-copy {
  color: var(--darkGrayishBlue);
}

.nav__item {
  color: var(--white);
  font-family: var(--fontBarlow);
  font-size: var(--fontBase);
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:nth-of-type(4) {
  color: #24303e;
  font-family: var(--fontFraunces) 9pt Soft;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
  border-radius: 28px;
  background: var(--white);
  padding: 16px 30px 15px 32px;
}

.nav__item:nth-of-type(4):hover::after {
  opacity: 0.25;
  color: var(--white);
}
